<% title "Edit Company" %>

<%= render 'form' %>

<p>
  <%= link_to raw('<span class="ss_sprite ss_book" />Show'), @company, :class => 'button' %>
  <%= link_to raw('<span class="ss_sprite ss_book" />View All'), companies_path, :class => 'button'%>
</p>
